{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
    
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
/* 
croodinates system guide
x,y,w,h, units = % of the total image width or height
x=x croodinate center of the bbox (not the corners!)
y=y croodinate center of the bbox
w=width of the bbox
h=height of the bbox
*/
var urls = "";
var ctx = null; 
var canvas_w=500;
var canvas_h=500;

function process_data_line(line){
  //TODO darw cat different color
  var elems=line.split(" ");
  draw_rect(elems[1],elems[2],elems[3],elems[4],"orange");
}

function draw_rect(x,y,w,h,strokeStyle){
  ctx.strokeStyle = strokeStyle;
  ctx.strokeRect((x-w/2)*canvas_w, (y-h/2)*canvas_h, w*canvas_w, h*canvas_h);
}

$.get('/static/files.txt', function(data) {
  urls=data;
  elems=urls.split("\n");
  innerhtml="";
  var canvas = document.getElementById('canvas');
  var txt= document.getElementById('infobox');
  ctx = canvas.getContext('2d');
  var rect = {};
  var rects =[];
  var drag = false;
  var imageObj = null;
  var curr_rect_idx=0;

   for(i=0; i<20; i++){//pagnation TODO
     innerhtml+="<img class='thumbs' width=60 height=60 id='img"+i+"' src='"+elems[i]+"'>";
   }
   $("#imgs_div").html(innerhtml);

    $(".thumbs").on("click", function()
    {
      console.log(this.id);
      image_url=$("#"+this.id).attr('src');
      txt_url="";
      if (image_url.indexOf(".jpg") > -1) {
         txt_url = image_url.replace('.jpg','.txt' );
      }else{
         //nothing yet
      }
      console.log(txt_url);
      load_big_image(image_url); 
      $.get(txt_url, function(data) {
        
        $("#mark_box").html(data);
        $("#infobox").html(data);
        
        lines=data.split("\n");
          for(var i=0; i<lines.length; i++){
            process_data_line(lines[i]);
          }
      }).fail(function(){ //no txt file found, clear all info.
        $("#mark_box").html("");
        $("#infobox").html("");
      });
    });
  



    function load_big_image(url) {
        imageObj = new Image();
        ctx.clearRect(0, 0, canvas_w, canvas_h);
        imageObj.onload = function () { 
          ctx.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, canvas.width, canvas.height); //resize to canvas size.
        };
        imageObj.src = url;
        canvas.addEventListener('mousedown', mouseDown, false);
        canvas.addEventListener('mouseup', mouseUp, false);
        canvas.addEventListener('mousemove', mouseMove, false);
        rects=[]; //TODO clear existing drawing.
    }

    function mouseDown(e) {
        var rect={};
        rect.startX = e.pageX - this.offsetLeft;
        rect.startY = e.pageY - this.offsetTop;
        rects[curr_rect_idx]=rect;
        drag = true;
    }

    function mouseUp() { 
      drag = false; 
      curr_rect_idx++;
    }

    function mouseMove(e) {
        if (drag) {
            //ctx.clearRect(0, 0, 500, 500);
            ctx.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, canvas.width, canvas.height); //resize to canvas size.
            rects[curr_rect_idx].w = (e.pageX - this.offsetLeft) - rects[curr_rect_idx].startX;
            rects[curr_rect_idx].h = (e.pageY - this.offsetTop) - rects[curr_rect_idx].startY;
            rects[curr_rect_idx].strokeStyle='red';
            txt.innerHTML="";
            for(i=0; i<=curr_rect_idx; i++){
              var w=rects[i].w/canvas_w;
              var h=rects[i].h/canvas_h
              var x=rects[i].startX/canvas_w + w/2;
              var y=rects[i].startY/canvas_h + h/2;
              draw_rect(x,y,w,h,rects[i].strokeStyle);
              txt.innerHTML+= "x " + x.toFixed(6)+" "+ y.toFixed(6) +" " + Math.abs(w.toFixed(6)) + " " + Math.abs(h.toFixed(6)) +"\n" ;
            }
        }
    }
}, 'text');

</script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WEB YOLO MARK</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="split left">
        <div id="canvas_div" class="canvas0">
          <canvas id="canvas" width="500" height="500"></canvas>
        </div>  
        <div id="imgs_div" class="images">
          
            <img src="" alt="">
          
        </div>
      </div>

      <div class="split right">
        <div class="centered">
          <img src="img_avatar.png" alt="Avatar man">
          <pre>
            <p id="mark_box">EMPTY</p>
          </pre>
          <pre>
          <p id="infobox">Some text here too.</p>
          </pre>
        </div>
      </div>
   </div><!-- /.container -->

{% endblock %}


