{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
    
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/static/md5.min.js"></script>
<script src="/static/jquery.cookie.js"></script>

<script>
/* 
croodinates system guide
x,y,w,h, units = % of the total image width or height
x=x croodinate center of the bbox (not the corners!)
y=y croodinate center of the bbox
w=width of the bbox
h=height of the bbox
*/
var _cookie = $.cookie;
var urls = "";
var ctx = null; 
var canvas_w = 600;
var canvas_h = 600;
var emptylinesRe = /^[ \r\n]+$/gi;
var image_id=null;
var curr_img = null;
var category = [];
var rects =[];
var txt; //= document.getElementById('infobox');
var imageObj = null;
var old_infobox_data=null;

function upload_infobox(){
  new_infobox_data=$("#infobox").html();
  if(old_infobox_data==new_infobox_data){
    return;
  }
  old_infobox_data=new_infobox_data;  
  console.log("uploading");
  $.ajax({
    type: "POST",
    url: "/",
    data: curr_img + new_infobox_data,
  });
}

function draw_rects_and_infobox(){
  var html_frag = "";
  ctx.clearRect(0, 0, canvas_w, canvas_h);
  ctx.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, canvas.width, canvas.height);
  for(var i=0; i<rects.length; i++){
    if(rects[i]._strokeStyle == null){
      draw_rect(rects[i].cat, rects[i].x, rects[i].y, rects[i].w, rects[i].h, rects[i].strokeStyle);
    }else{
      draw_rect(rects[i].cat, rects[i].x, rects[i].y, rects[i].w, rects[i].h, rects[i]._strokeStyle);
    }
    html_frag += rects[i].cat+" " + parseFloat(rects[i].x).toFixed(6)+" "+ parseFloat(rects[i].y).toFixed(6) +" " + Math.abs(parseFloat(rects[i].w).toFixed(6)) + " " + Math.abs(parseFloat(rects[i].h).toFixed(6)) +"\n" ;
  }
  txt.innerHTML = html_frag;
  $("#infobox").change();
}

function draw_marks(){
  var select_controls = "";
  for(var i = 0; i < rects.length; i++) {
    var rect_o = rects[i];
    var select_control = "<div class='category_select' data-id='"+ i +"' data-x='" + rect_o.x + "' data-y='" + rect_o.y + "' data-w='" + rect_o.w + "' data-h='" + rect_o.h + "'><select>" 
    for(var j = 0; j < category.length; j++) {
      var cat_i = parseInt(rect_o.cat);
      var category_o = category[j];
      if(category_o.id == cat_i) {
        select_control = select_control + "<option selected" + " value=" + category_o.id + ">" +category_o.id+ " "+ category_o.name + "</option>";
      } else {
        select_control = select_control + "<option value=" + category_o.id + ">"  +category_o.id+ " "+ category_o.name + "</option>";
      }
    }
    select_control = select_control + '</select><a href="#" class="del" '+ "id="+ i +'>X</a></div>';
    select_controls = select_controls + select_control;
   }

  $("#marks").html(select_controls);
}

function draw_rect(cat_id,x,y,w,h,strokeStyle){
  ctx.strokeStyle = strokeStyle;
  ctx.strokeRect((x-w/2)*canvas_w, (y-h/2)*canvas_h, w*canvas_w, h*canvas_h);
  ctx.fillStyle = strokeStyle;
  
  var category_name = "";
  for(var i = 0; i < category.length; i++) {
    var category_o = category[i];
    if(category_o.id == parseInt(cat_id)) {
      category_name = category_o.name;
      break;
    }
  }

  ctx.fillText(category_name, (x-w/2)*canvas_w+5, (y-h/2)*canvas_w+15);
}

function toColor(num) {
  var salt="c2h2"
  return "#" + md5(salt+num).substr(-6, 6);
}

Number.prototype.pad = function(size) {
  var s = String(this);
  while (s.length < (size || 2)) {s = "0" + s;}
  return s;
}

$(function(){
  txt= document.getElementById('infobox');
  $("#canvas").width(canvas_w);
  $("#canvas").height(canvas_h);

  // Load categories from server
  $.get('/static/coco.names', function(data) {
    var lines = data.split("\n");
    for(var i = 0; i < lines.length; i++) {
      category.push({id: i, name: lines[i]});  
    }
    console.log("Defined categories", category);
  });

  $("#marks").on("click", ".category_select a", function(){
    var array_id = parseInt(this.id);
    
    if (array_id> -1) {
      rects.splice(array_id, 1);
    }
    draw_rects_and_infobox();
    $(this).parent().remove();
    draw_marks();
  });

  $("#marks").on("change", ".category_select select", function(){
    var category_id = $(this).val();
    var i=parseInt($(this).parent().attr("data-id"));
    rects[i].cat=category_id;
    draw_rects_and_infobox();
    console.log("Selected category", category_id);
  });

  $("#marks").on("mouseover", ".category_select", function(){
    var i=parseInt($(this).attr("data-id"));
    rects[i]._strokeStyle="white";
    draw_rects_and_infobox();
  });

  $("#marks").on("mouseout", ".category_select", function(){
    var i=parseInt($(this).attr("data-id"));
    rects[i]._strokeStyle=null;
    draw_rects_and_infobox();
  });

  $("#infobox").on("change", function(){
    upload_infobox();
  });

}); // document.ready

$.get('/static/files.txt', function(data) {
  urls=data;
  elems=urls.split("\n");
  var canvas = document.getElementById('canvas');
  ctx = canvas.getContext('2d');
  ctx.font = "12px Arial";
  ctx.lineWidth = 2;
  var drag = false;
  var page_idx = null;
  var per_page = 25;
  var pic_start_idx=null;
  var pic_end_idx=null;

  function get_thumbs_html(){
    if(page_idx==null){
      if(typeof _cookie('page_idx_cookie') !== 'undefined'){
        page_idx = _cookie('page_idx_cookie');
      }else{
        page_idx = 0;
        _cookie('page_idx_cookie', 0, { expires: 365, path: '/' });
      }
    }
    $("#page_idx").val(page_idx);

    var innerhtml="";
    for(i=0; i<per_page; i++){
      var img_idx = i + page_idx * per_page;
      innerhtml+="<img class='thumbs' width=50 height=50 id='img_"+(img_idx)+"' src='"+elems[img_idx]+"'>";
    }

    pic_start_idx = page_idx * per_page;
    pic_end_idx = (parseInt(page_idx)+1) * per_page - 1 ;
    return innerhtml;
  }

  $("#page_idx").change(function() {
    page_idx=$("#page_idx").val();
    _cookie('page_idx_cookie', page_idx, { expires: 365, path: '/' });
    $("#imgs_div").html(get_thumbs_html());
  });


  $("#page_next").on("click", function(){
    page_idx++;
    $("#page_idx").val(page_idx);
    $("#page_idx" ).trigger( "change" );
  });

  $("#page_prev").on("click", function(){
    page_idx--; 
    if(page_idx<0){
      page_idx=0;
    }
    $("#page_idx").val(page_idx);
    $("#page_idx" ).trigger( "change" );
  });

  $("#pic_prev").on("click", function(){
    if(image_id == null) {
      alert("Please select one image first!");
      return;
    }
    var num = parseInt(image_id.split("_")[1])-1;
    if(num>0){
      $("#img_"+num ).trigger( "click" );
    }else{
      alert("Already the first image");
    }

    if(num<pic_start_idx){
      page_idx--;
      $("#page_idx").val(page_idx);
      $("#page_idx" ).trigger( "change" );
    }
  });

  $("#pic_next").on("click", function(){
    if(image_id == null) {
      alert("Please select one image first!");
      return;
    }
    var num = parseInt(image_id.split("_")[1])+1;
    if(num>0){
      $("#img_"+num ).trigger( "click" );
    }else{
      alert("Already the first image");
    }
    if(num>pic_end_idx){
      page_idx++;
      $("#page_idx").val(page_idx);
      $("#page_idx" ).trigger( "change" );
    }
  });

  $("#imgs_div").html(get_thumbs_html());

  $("#imgs_div").on("click", "img.thumbs", function(){
    $("#imgs_div img.thumbs").removeClass('active');
    $(this).addClass('active');
    image_id=this.id;
    image_url=$("#"+this.id).attr('src');
    txt_url="";
    if (image_url.indexOf(".jpg") > -1) {
       txt_url = image_url.replace('.jpg','.txt' )+"?"+Math.random();
    }else{
       //nothing yet
    }
    //print filename.
    $("#pic_info").html(image_url.split("/").slice(-1)[0]);
    load_big_image(image_url, function(){
      curr_img = image_url;
      $("#pic_info_link").attr("href", image_url);
      $.get(txt_url, function(data) {
        var _data=data.replace(emptylinesRe,"");
        //$("#mark_box").html(_data);
        
        lines=_data.split("\n");
          for(var i=0; i<lines.length; i++){
            if(lines[i].length>10){ //throw malformed away
              process_data_line(lines[i]);
            }
          }
          draw_rects_and_infobox();
          draw_marks();
      }).fail(function(){ //no txt file found, clear all info.
        draw_rects_and_infobox();
        draw_marks();
      }); // end $.get
    }); // load_big_image
  });


  function load_big_image(url, callback_fn) {
    imageObj = new Image();
    ctx.clearRect(0, 0, canvas_w, canvas_h);
    imageObj.onload = function () { 
      ctx.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, canvas.width, canvas.height); //resize to canvas size.
      callback_fn();
    };
    imageObj.src = url;
    canvas.addEventListener('mousedown', mouseDown, false);
    canvas.addEventListener('mouseup', mouseUp, false);
    canvas.addEventListener('mousemove', mouseMove, false);
    rects=[]; //clear existing drawing.
    curr_rect_idx=0;
  }

  function mouseDown(e) {
    var rect={};
    rect.startX = e.pageX - this.offsetLeft;
    rect.startY = e.pageY - this.offsetTop;
    rect.strokeStyle='red';
    rect._strokeStyle=null;
    rects.push(rect);
    rects[rects.length-1].cat="x"+(rects.length-1).pad(3);
    drag = true;
  }

  function mouseUp() { 
    drag = false;
    upload_infobox();
  }

  function process_data_line(line){
    var elems=line.split(" ");
    if(elems.length<5){ //malformed skip.
      return;
    }
    var rect={};
    rect.cat=elems[0];
    rect.x=elems[1];
    rect.y=elems[2];
    rect.w=elems[3];
    rect.h=elems[4];
    rect.strokeStyle=toColor(rect.cat);
    rect._strokeStyle=null;
    rects.push(rect);
  }

  function mouseMove(e) {
    if (drag) {
      var rect=rects[rects.length-1];
      ctx.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, canvas.width, canvas.height); //resize to canvas size.
      rect.cat = 0;
      rect.w = (e.pageX - this.offsetLeft - rect.startX)/canvas_w;
      rect.h = (e.pageY - this.offsetTop - rect.startY)/canvas_h;
      rect.x = rect.startX/canvas_w + rect.w/2;
      rect.y = rect.startY/canvas_h + rect.h/2;
      draw_rects_and_infobox();
      draw_marks();
      console.log(rect);
    }
  }
}, 'text');


</script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WEB YOLO MARK</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <!--<li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="split left">
        <div id="canvas_div" class="canvas0">
          <canvas id="canvas" width="600" height="600"></canvas>
        </div>  
        <div id="page_sel_div">
          <div class="controls form-inline">
            <form id="toolbar_form">
              <button id="pic_prev" type="button" class="btn btn-primary"><-</button>
              <input id="page_idx" type="text" class="form-control" placeholder="Page Index">
              <button id="pic_next" type="button" class="btn btn-primary">-></button>
              <button id="page_prev" type="button" class="btn btn-warning">UP</button>
              <button id="page_next" type="button" class="btn btn-warning">DN</button>
            </form>
          </div>
        </div>
        <div id="imgs_div" class="images">
          <img src="" alt="">
        </div>
      </div>

      <div class="split right">
        <div class="properties_bar">
          <a id="pic_info_link" href="" target="_blank" class="btn btn-info btn-sm pull-right">View</a>
          <p id="pic_info">info</p>
          <div id="marks"></div>
          <!--<pre>
            <p display="none" id="mark_box">EMPTY</p>
          </pre>-->
            <pre id="infobox">Output Box.</pre>
        </div>
      </div>
   </div><!-- /.container -->

{% endblock %}


